/*----------------------------------------- 
    BASE
-----------------------------------------*/
.nav{
    text-transform:uppercase;letter-spacing:0.30em;font-size:1em; 
}



/*----------------------------------------- 
    MORE
-----------------------------------------*/
.btn-add{
    margin: 1em 0 1em 0 !important;
}
